export(treelabels, plotlabels,labeldistance,distunlab, veclabeldistance,veclabel,multiDistUnlab,vecMultiDistUnlab,prunetosize,weightMultiDistUnlab,nthPhylo)

import(ape,phylobase,gmp,MASS,numbers,digest,igraph)
